<div class="contacts-modal" id="contacts-modal">
  <div class="modal-content">
    <h2>Mes Contacts</h2>
    
    <!-- Formulaire pour ajouter un contact -->
    <div class="add-contact-section mb-3">
      <%= render "contacts/add_form" %>
      <div id="contact-error"></div>
    </div>

    <!-- Liste des contacts -->
    <div id="contacts-list">
      <%= render "contacts/list", contacts: @contacts %>
    </div>

    <div class="mt-3">
      <%= link_to "Fermer", "#", class: "btn btn-sm btn-outline-secondary", data: { dismiss: "modal" } %>
    </div>
  </div>
</div>
